*.zip
*.db
*.xlsx
results
temp
model
logs
*.db-*
*.parquet
*.pyc
*.csv
client_secrets.json
*.pickle
mycreds.txt
venv-acct-cik/
*html
drive
.mount_state.json
pipeline_config.json
hf_token
derivative-classifier
.*.*
backup
*.conf
Unsloth*.py
Qwen*/